.App {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.primary-radius {
  border-radius: 8px !important;
}
.gap-3 {
  column-gap: 20px;
}
.btn-primary {
  background-color: #3f53d9;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrapper-verify {
  margin-top: 10px;
}

#jwt {
  display: none;
}

p.section {
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes flash {
  0% {
    background-color: #89cff0;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 1s ease-out;
}
